.venue-sidebar {
	padding: 1rem;
	max-height: calc(100% - 200px);
	overflow-x: hidden;
	overflow-y: scroll;
}

.categories-tags {
	margin: 5px 0px;
}

.venue-contact {
	padding: 5px;
	margin-top: 10px;
}

.ui.pointing.label.rating-label {
	position: absolute;
	margin-left: 10px;
}

.user-info {
	position: relative;
}

.review-date {
	position: absolute;
	right: 0;
}

.review-info {
	margin: 5px 0px;
}

.ui.disabled.rating {
	margin: 5px 0px;
}

.ui.fluid.button.directions-button {
	margin-top: 10px;
	background: #2c1e3f;
	color: white;
	font-family: 'Open Sans';
}