.directions {
	position: absolute;
	z-index: 1000;
	right: 0;
	background: white;
	border-radius: 4px;
	margin: 15px;
	padding: 10px;
	width: 250px;
	max-height: 300px;
	overflow-y: scroll;
	border: 2px solid rgba(0,0,0,0.2);
}