.App {
  text-align: center;
}


.App-header {
  background-color: #2c1e3f;
  height: 185px;
  padding: 20px;
  color: white;
}

.ui.header {
  color: white !important;
}

.map-container {
	position: fixed;
	top: 185px;
	right: 0;
	width: calc(100% - 400px);
	height: 100%;
}

.sidebar-container {
	position: fixed;
	width: 400px;
	height: 100%;
	background-color: #f8f8f8
}