.Sidebar {
	padding: 1rem;
	overflow-x: hidden;
	overflow-y: auto;
}

.local-spots {
	max-height: 60vh;
	overflow-y: scroll;
}

.venue {
	border-bottom: solid 2px #f8f8f8;
	padding: 5px;
}

.venue:last-of-type {
	border: none;
}

.header {
	font-family: 'Open Sans';
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
}

.description {
	padding: 3px;
}

.ui.tag.label {
	margin-right: 5px;
	margin-bottom: 5px;
}

.ui.block.header.category {
	margin: 5px;
	margin-bottom: 10px;
	padding: 5px;
	text-align: center;
	font-family: 'Open Sans';
}